<!-- index.ejs - 게시판 페이지 -->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <!-- site header -->
        <%- include('../partials/nav') %>

        <!-- 내가 만든 board 영역 -->
        <div class="borad-warp">
            <table id="board">
                <thead>
                    <tr>
                        <th class="post__tab" scope="col">분류</th>
                        <th class="post__title" scope="col">제목</th>
                        <th class="post__write write" scope="col">글쓴이</th>
                        <th class="post__date" scope="col">날짜</th>
                        <th class="post__view" scope="col">조회</th>
                        <th class="post__like" scope="col">추천</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(posts == null || posts.length == 0) { %>
                    <tr>
                        <td colspan="2" class="post__less-message">아직 게시판에 글이 작성되지 않았습니다 :D</td>
                    </tr>
                    <% } %>
                    <!-- 게시판에 데이터가 있다면 -->
                    <% posts.forEach(function(post) { %>
                    <tr class="post">
                        <td class="tab" scope="col">자유</td>
                        
                        <td class="title">
                            <a href="/posts/<%= post._id %><%= getPostQueryString() %>" class="title-container clearfix">
                                <div data-search-highlight="title" class="title-ellipsis ellipsis float-left">
                                    <span class="title-text"><%= post.title %></span>
                                </div>
                            <% if(post.commentCount){ %>
                                <small class="title-comments d-inline-block pl-2">(<%= post.commentCount %>)</small>
                            <% } %>
                            </a>
                        </td>
                        
                        <td class="write" data-search-highlight="write"><span><%= post.write ? post.write.username : "" %></span></td>
                        <td class="time date"><span data-date="<%= post.createdAt %>"></span></td>
                        <td class="view">1555</td>
                        <td class="like">5</td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <!-- 로그인이 된 사용자만 글을 쓸 수 있다 -->
            <% if(isAuthenticated){ %>
            <div class="btn__warp">
                <a class="btn__write" href="/posts/new<%= getPostQueryString() %>">글쓰기</a>
            </div>
            <% } %>

            <!-- 페이지네이션 -->
            <nav class="pagenation">
                <%
                    var offset = 2; // 현재 페이지 좌우로 몇개의 페이지들을 보여줄지 정하는 변수
                    var previousBtnEnabled = currentPage > 1; // 이전 페이지 버튼은 현재 페이지가 1보다 큰 경우 활성화
                    var nextBtnEnabled = currentPage < maxPage; // 다음 페이지 버튼은 현재 페이지가 마지막페이지보다 작은 경우 활성화
                %>
    
                <ul class="imsi_pagenation_list clearfix">
                    <li class="<%= previousBtnEnabled ? '' : 'disabled' %>">
                        <a href="/posts<%= getPostQueryString(false, {page:currentPage-1}) %>" tabindex="<%= previousBtnEnabled ? '' : '-1' %>">&lt;</a>
                    </li>
    
                    <% for(i = 1; i <= maxPage; i++) { %> 
                        <!-- 만약, 페이지 번호 버튼이 1페이지 or 마지막 페이지인 경우 or 현재 페이지와 offset 이내의 차이가 있는 경우 페이지 버튼을 만든다 -->
                        <% if(i == 1 || i == maxPage || ( i >= currentPage-offset && i <= currentPage + offset)){ %>
                            <li class="<%= currentPage == i ? 'active' : '' %>">
                                <a href="/posts<%= getPostQueryString(false, {page:i}) %>"> <%= i %> </a>
                            </li>
                        <% } else if(i == 2 || i == maxPage - 1){ %>
                            <!-- 페이지번호 2와 마지막 바로 이전 페이지번호 버튼이 맞지 않는다면 -->
                            <li>
                                <a>...</a>
                            </li>
                        <% } %>
                    <% } %>
    
                    <li class="<%= nextBtnEnabled ? '' : 'disabled' %>">
                        <a href="/posts<%= getPostQueryString(false, {page:currentPage+1}) %>" tabindex="<%= nextBtnEnabled ? '' : '-1' %>">&gt;</a>
                    </li>
                </ul>
            </nav>

            <form action="/posts" method="get"> 
                <div class="rel_select">
                    <!-- 게시글 수 폼 -->
                    <div class="move_select">
                        <label>Show</label>
                        <!-- onchange 값이 변할 때마다 자동으로 form에 submit함 -->
                        <select name="limit" onchange="this.parentElement.parentElement.parentElement.submit()">
                            <option value="5" <%= limit == 5 ? 'selected' : '' %>>5 posts</option>
                            <option value="10" <%= limit == 10 ? 'selected' : '' %>>10 posts</option>
                            <option value="20" <%= limit == 20 ? 'selected' : '' %>>20 posts</option>
                        </select>
                    </div>
                    
                    <!-- 검색폼 -->
                    <div>
                        <label>Search</label>
                        <div>
                            <select name="searchType">
                                <option value="title,body" <%= searchType=='title,body'?'selected':'' %>>Title, Body</option>
                                <option value="title" <%= searchType=='title'?'selected':'' %>>Title</option>
                                <option value="body" <%= searchType=='body'?'selected':'' %>>Body</option>
                                <option value="write" <%= searchType=='write'?'selected':'' %>>write</option>
                            </select>
                            
                            <input minLength="3" type="text" name="searchText" value="<%= searchText %>">
                            
                            <div>
                                <button type="submit">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- footer -->
        <%- include('../partials/footer') %>
    </body>
</html>
