<!-- new.ejs - 글 작성 페이지 -->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="div__center">
            <form action="/posts" method="post">
                <div class="form__group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="<%= post.title %>" class="form__control <%= (errors.title)?'is-invalid':'' %>" />
                    <% if(errors.title){ %>
                    <span class="invalid-feedback"><%= errors.title.message %></span>
                    <% } %>
                </div>
                <div class="form__group">
                    <label for="body">내용</label>
                    <textarea id="body" name="body" rows="5" class="form__control <%= (errors.body)?'is-invalid':'' %>"><%= post.body %></textarea>
                    <% if(errors.body){ %>
                    <span class="invalid-feedback"><%= errors.body.message %></span>
                    <% } %>
                </div>

                <% if(errors.unhandled){ %>
                <div class="invalid-feedback d-block"><%= errors.unhandled %></div>
                <% } %>

                <div>
                    <a class="btn__back" href="/posts"><span>Back</span> </a>
                    <button type="submit" class="btn__submit"><span>Submit</span></button>
                </div>
            </form>
        </div>

        <!-- footer -->
        <%- include('../partials/footer') %>
    </body>
</html>
